
#container{
    display: flex;
    flex-direction: column;
    border: dashed;
    border-color:rgb(247, 248, 236);
    height: 500px;
    width: 500px;
}

.content{
    display: flex;
    flex-direction:  row;

  
}

.sub_content{
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed;
    border-color:rgb(247, 248, 236);
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;

}

.sub_content:hover{
    background-color: aquamarine;
}