
.top_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.content{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 80%;

}

.sub_content{
    display: flex;
    justify-content: center;
    border: dashed;
    border-color:rgb(12, 126, 141);
    height:100%;
    width: 100%;

}
.size_button{
    height: 70px;
    width:  500px;
    background-color: rgb(245, 236, 190);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

#fourBYfour{
    height: 30px;
    width: 80px;
    margin-left: 40px;
    margin-right: 40px
    
}

#eightBYeight{
    height: 30px;
    width: 80px;
    margin-left: 40px;
    margin-right: 40px
}

#sixteenBYsixteen{
    height: 30px;
    width: 80px;
    margin-left: 40px;
    margin-right: 40px
}

#reset{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 160px;
}
.grid_area{
    height: 500px;
    width: 700px;
    background-color: rgb(223, 223, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    background-color: rgb(219, 230, 218);
    border: dashed;
    margin-top: 30px;
}



