
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color:rgb(45, 93, 156);
    height: 900px;
    width: 900px;
    
}
.top_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.content{
    display: flex;
    flex-direction:  row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;

}

.sub_content{
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed;
    border-color:rgb(130, 141, 12);
    height: 100%;
    width: 100%;

}